.list .content-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list .content{
    height: 1800px;
    width: 1180px;
    padding : 0 30px;
}

.list .movie-list{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.list-pagecontroller{
    display: flex;
    justify-content: center;
    width: 100%;
}

.movie{
    cursor: pointer;
}